.form {
  margin-bottom: 16px;
}

.footer {
  display: flex;
  margin-top: var(--base-spacing);
  justify-content: flex-end;
  gap: 8px;

  button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-width: 120px;
    transition: background-color 0.3s ease;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .cancel {
    background: rgb(var(--background-text-rgb));
    color: rgb(var(--foreground-text-rgb));
    &:hover {
      background: rgb(var(--lighter-text-rgb)),
    }
    border: 1px solid rgb(var(--border-rgb))
  }

  .save {
    background: #47B960;
    color: white;
    &:hover {
      background: #63eb80
    }
  }
}