.form {
  background: rgb(var(--background-text-rgb));
  border: 1px solid rgb(var(--lighter-text-rgb));
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  label {
    font-size: 14px;
    color: rgb(var(--lighter-text-rgb));
  }

  input, textarea {
    padding: 8px;
    border: 1px solid rgb(var(--lighter-text-rgb));
    border-radius: 8px;
    background: rgb(var(--base-background-rgb));
    color: rgb(var(--foreground-text-rgb));
  }

  textarea {
    height: 100px;
    resize: vertical;
  }

  button {
    align-self: flex-end;
    padding: 8px 16px;
    background: rgb(var(--primary-color-rgb));
    color: rgb(var(--background-text-rgb));
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}