.form {
  background: rgb(var(--secondary-color-rgb));
  border: 1px solid rgb(var(--border-rgb));
  border-radius: 16px;
  padding: var(--base-spacing);
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
    margin-top: var(--base-spacing);
    padding: 8px 16px;
    background: rgb(var(--primary-color-rgb));
    color: rgb(var(--background-text-rgb));
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}