.post {
  background: rgb(var(--secondary-color-rgb));
  border: 1px solid rgb(var(--border-rgb));
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: var(--base-spacing);

  p {
    padding: 0 var(--base-spacing) var(--base-spacing) var(--base-spacing);
    margin-top: 0;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: pre-line;
  }
}