
// Light theme variables
$base-background: 211, 211, 211;    // Light gray
$primary-color: 118, 149, 236;      // Blue 
$background-text: 255, 255, 255;    // White
$foreground-text: 0, 0, 0;          // Black
$lighter-text: 119, 119, 119;       // a bit grey

// Dark theme variables
$base-background-dark: 18, 18, 18;       // Very dark gray (not pure black)
$primary-color-dark: 138, 169, 255;      // Lighter/brighter blue for better contrast
$background-text-dark: 28, 28, 28;          // Black (reversed from light theme)
$foreground-text-dark: 255, 255, 255;    // White
$lighter-text-dark: 59, 58, 58;          // a bit lighter black  

@mixin light-theme {
  --base-background-rgb: #{$base-background};
  --primary-color-rgb: #{$primary-color};
  --background-text-rgb: #{$background-text};
  --foreground-text-rgb: #{$foreground-text};
  --lighter-text-rgb: #{$lighter-text};
}

@mixin dark-theme {
  --base-background-rgb: #{$base-background-dark};
  --primary-color-rgb: #{$primary-color-dark};
  --background-text-rgb: #{$background-text-dark};
  --foreground-text-rgb: #{$foreground-text-dark};
  --lighter-text-rgb: #{$lighter-text-dark};
}

*,
*::before,
*::after {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

button {
  min-width: 120px;
  height: 32px;
}

:root {
  @include light-theme;
}

.dark {
  @include dark-theme;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: rgb(var(--base-background-rgb));
  margin: 0;
  padding: 0;
}

body {
  padding-top: 0;
  color: rgb(var(--foreground-text-rgb));
  background: rgb(var(--base-background-rgb));
  margin: 0;
}
