
.postHeader {
    background: rgb(var(--primary-color-rgb));
    color: rgb(var(--background-text-rgb));
    h2 {
        margin: 0;
        padding: 1.5rem;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1.5rem;

  button {
    min-width: auto;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    color: rgb(var(--background-text-rgb));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background: rgb(var(--background-text-rgb)); 
      color: rgb(var(--lighter-text-rgb));
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
